
@section breadcrumbs{

    <nav class="breadcrumb">
        <div>
            <a href="#">Início</a>
            <a href="#">Buscar CEP</a>
        </div>
    </nav>

}

<section>

    <h2>Buscar CEP</h2>

    <hr>
    <p> Informe os dados da localidade</p>
    <br>

    <div class="input">
        <label for="estado">Estado</label>
        <select name="estado" id="estado">
            <option value="SC">Santa Catarina</option>
        </select>
    </div>

    <div class="input">
        <label for="municipio">Município</label>
        <select name="municipio" id="municipio">
            <option value="131221">Itajaí</option>
        </select>
    </div>

    <div class="input">
        <label for="logradouro">Logradouro</label>
        <input type="text" placeholder="Marcos Konder" name="logradouro" id="logradouro" readonly required>
    </div>

    <div class="botoes">
        <button>Voltar</button>
        <button>Pesquisar</button>
    </div>
</section>