
@section breadcrumbs{

    <nav class="breadcrumb">
        <div>
            <a href="#">Início</a>
            <a href="#">Busca de Endereço</a>
        </div>
    </nav>

}
<section>

    <h2>Busca de Endereço</h2>

    <hr>
    <p> Informe o CEP da localidade</p>
    <br>

    <input type="text" placeholder="CEP" name="CEP" required>

    <div class="botoes">
        <button>Buscar</button>
        <button>Voltar</button>
    </div>
</section>