@section breadcrumbs{

    <nav class="breadcrumb">
        <div>
            <a href="#">Início</a>
            <a href="#">Busca</a>
            <a href="#">Resultado</a>
        </div>
    </nav>

}
<section>

    <h2>CEP Encontrado</h2>

    <hr>
    <br>

    <div class="input">
        <label for="logradouro">Logradouro</label>
        <input type="text" placeholder="Srv Maravilha" name="Logradouro" id="logradouro" readonly required>
    </div>

    <div class="input">
        <label for="municipio_uf">Muninípio / UF</label>
        <input type="text" placeholder="Florianópolis - SC" name="municipio_uf" id="municipio_uf" readonly required>
    </div>

    <div class="input">
        <label for="bairro">Bairro</label>
        <input type="text" placeholder="Vargem Grande" name="bairro" id="bairro" readonly required>
    </div>

    <div class="input">
        <label for="cep">CEP</label>
        <input type="text" placeholder="CEP" name="cep" id="cep" readonly required>
    </div>

    <div class="botoes">
        <button>Nova Busca</button>
        <button>Imprimir</button>
    </div>
</section>